.container-config {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-config > .card-details-user {
    display: flex;
    border-radius: 2px;
    width: 100%;
}

.container-config > .card-details-user > .user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-config > .card-details-user > .user-data > .user-pic {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.container-config > .card-details-user > .user-data .form-update {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid red;
    width: 100%;
}

.container-config > .card-details-user > .user-data .btn-save {
    border: none;
    cursor: pointer;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background: var(--button-primary);
    color: var(--text-dark);
    margin-top: 10px;
}

.container-config > .card-details-user > .user-data .btn-save:hover {
    background: var(--button-primary-hover);
}