.container-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-dark);
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.container-post .post {
    width: 100%;
    color: var(--text-dark);
    border-bottom: 1px solid var(--border);
    padding: 10px;
    flex: 1 0 auto;
}

.container-post .header-post {
    display: flex;
    width: 100%;
}

.container-post .header-post .user-data {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}

.container-post .header-post .user-data .user-image {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.container-post .header-post .user-data .user-texts {
    display: flex;
    width: 100%;
}

.container-post .header-post .user-data .user-texts a {
    text-decoration: none;
    color: var(--text-dark);
}

.container-post .header-post .user-texts .user-name {
    font-weight: 700;
    font-size: .9em;
    margin-right: 2px;
}
.container-post .header-post .user-texts .post-date {
    font-weight: 300;
    font-size: .9em;
}

.container-post .img-post {
    width: 100%;
}

.container-post img {
    width: 100%;
    border-radius: 10px;
}

.container-post .text-content-container {
    padding: 10px 0px 10px 0px;
}

.container-post .footer-post {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container-post .footer-post .interactios-button {
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px 0px 5px;
    width: 100%;
}

.container-post .footer-post .interactios-button .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-post .footer-post .interactios-button .icon-interaction {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .container-post {
        margin-bottom: 55px;
    }
}