.menu-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid red;
}

@media only screen and (max-width: 769px) {
    .menu-more {
        display: none;
    }
}

.menu-more .drop-btn {
    background: none;
    border: none;
    color: var(--text-dark);
    font-size: 1.4em;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.menu-more .drop-btn:hover {
    background: var(--hover-secondary);
}

.menu-more .drop-btn > .more-icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.menu-more .drop-btn > .more-text {
    font-size: .6em;
    font-weight: 300;
}

.dropdown-content {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-dark-secondary);
    min-width: 160px;
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 100%;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    margin-bottom: 5px;
}

.dropdown-content span {
    color: var(--text-dark);
    font-weight: 300;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.dropdown-content .icon-sub-menu {
    font-size: 1.3em;
    margin-right: 5px;
}

.dropdown-content .line-separetor {
    border: 1px solid var(--border);
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-content span:hover {
    background: var(--hover);
}