.menu-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.menu-more #sub-menu-more {
    background-color: var(--background-dark-secondary);
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.menu-more .button-more {
    padding: 10px 120px 10px 10px;
    display: flex;
    line-height: 25px;
    border-radius: 10px;
    transition: .5s ease;
    color: var(--text-dark);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.menu-more .button-more:hover {
    background: var(--hover-secondary);
}

.list-menu ul li button .icon{
    font-size: 30px;
}

.list-menu ul li button .txt-link {
    margin-left: 10px;
    font-size: 1.3em;
}
