.container-search-input {
    padding: 5px;
    position: relative;
}

.container-search-input .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: var(--white-smoke);
    color: var(--dark-black);
    font-size: .9em;
}   

.container-search-input > .search-response {
    margin-top: 5px;    
}

.container-search-input > .search-response > .card-response > .user-response {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-black);
    padding: 5px;
    border-radius: 10px;
}

.container-search-input > .search-response > .card-response > .user-response:hover {
    background: var(--grey);
}

.container-search-input > .search-response > .card-response .username-response {
    font-size: .9em;
    font-weight: 500;
    margin-left: 5px;
}