.list-menu ul {
    list-style: none;
}

.list-menu a {
    text-decoration: none;
    padding: 10px 4%;
    display: flex;
    line-height: 30px;
    border-radius: 10px;
    transition: .5s ease;
    color: var(--text-dark);
    margin-bottom: 10px;
}

.list-menu a:hover {
    background: var(--hover);
}

.list-menu ul li .icon{
    font-size: 30px;
}

.list-menu ul li .txt-link {
    margin-left: 20px;
    font-size: 1.1em;
}

.list-menu .menu-more-sidebar {
    position: fixed;
    bottom: 0;
}
