.container-posts {
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
        "nav nav"
        "content content " ;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}

.nav {
    grid-area: nav;
    margin-top: 0;
}

.content {
    grid-area: content;
}