.button-edit  {
    padding: 10px;
    background: var(--blue);
    font-weight: bold;
    color: var(--white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: .9em;

}