.cardDashPosts {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.129) 0px 5px 15px;
    cursor: pointer;
    width: 220px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #333;
    transition: all .5s;
    border: none;

}
.cardDashPosts img {
    width: 220px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cardDashPosts .content-cardDashPosts {
    padding: 20px;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
}

.cardDashPosts .content-cardDashPosts .title-cardDashPosts {
    font-size: 15px;
    font-weight: 600;
}

