.user-info > .user-profile-details > .user-stats {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.user-profile-details > .user-stats > .name-and-button .name {
    font-size: 2em;
    font-weight: 600;
    margin-right: 50px;
}

.user-profile-details > .user-stats > .name-and-button {
    width: 100%;
    display: flex;
    align-items: center;
}   

.user-profile-details > .user-stats > .name-and-button > .btn {
    padding: 10px 20px 10px 20px;
    background: var(--background-white);
    font-weight: bold;
    color: var(--text-white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.user-profile-details > .user-stats > .username {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 10px;
}

.user-profile-details > .user-stats > .biography {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
}

.user-profile-details > .user-stats  > .statistics {
    font-size: .9em;
    display: flex;
}

.user-profile-details > .user-stats > .statistics > .followers {
    margin-right: 10px;
}
