.button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  background: none;
  border-radius: 5px;
  border: 1px solid #ff9100;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  color: #ff9100;
  font-weight: bold;
}

.button:hover {
  transition: background, color 0.2s;
  background: #ff9100;
  color: white;
}