@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --text-dark: #F2F2F2;
  --text-white: #333;
  --text-link: #9E82FC;
  --border: #dbdbdb25;
  --border-image: #ffffff67;
  --button-primary: #7e4bf69e;
  --button-primary-hover: #7e4bf681;
  --background-dark: #010102;
  --background-dark-secondary: #262626;
  --hover: #3C3C3C;
  --hover-secondary: #5555553f;
}
