@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --text-dark: #F2F2F2;
  --text-white: #333;
  --border: #dbdbdb25;
  --button-primary: #6F23D9;
  --button-primary-hover: #4703a6d8;
  --background-dark: #010102;
  --background-input: #202327;
}
