.input-image-background-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    min-width: 200px;
    height: 550px;
}

.picture-backround {
    margin-top: 20px;
    width: 850px;
    min-width: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background: #51515155;
    padding: 10px;
}

.picture-backround:hover {
    background: #51515171;
}

.picture-backround > .picture-image-background > .image {
    width: 850px;
    min-width: 200px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.picture-backround > .picture-image-background > .upload-background-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.picture-backround > .picture-image-background > .upload-background-container > .upload-icon {
    font-size: 3.5em;
    color: var(--text-dark);
}

.picture-backround > .picture-image-background > .upload-background-container > span {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-dark);
}

.btn-upload-image-background {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    padding: 16px 0;
    border: none;
    background: #0071FF;
    color: var(--text-dark);
    font-weight: bold;
    width: 30%;
}

.btn-upload-image-background:hover {
    background: #0073ffb4;
}

.btn-upload-image-background:disabled {
    background: #6c6c6c7a;
    cursor: auto;
    color: #8b8b8b;
}

.picture-input-background{
    display: none;
}
