.input-user-avatar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    width: 400px;
    height: 450px;
}

.picture-user-avatar {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background: var(--white-smoke);
    padding: 10px;
    margin-top: 20px;
}

.picture-user-avatar:hover {
    background: var(--grey);
}

.picture-user-avatar > .picture-user-avatar-preview > .image {
    width: 300px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.picture-user-avatar > .picture-user-avatar-preview > .upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.picture-user-avatar > .picture-user-avatar-preview> .upload-image-container > .upload-icon {
    font-size: 3.5em;
    color: var(--dark-black);
}

.picture-user-avatar > .picture-user-avatar-preview > .upload-image-container > span {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--dark-black);
}

.btn-upload-user-avatar {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    padding: 16px 0;
    border: none;
    background: var(--blue);
    color: var(--white);
    font-weight: bold;
    width: 50%;
}

.btn-upload-user-avatar:hover {
    background: var(--light-blue);
}

.btn-upload-user-avatar:disabled {
    background: var(--grey);
    cursor: auto;
    color: var(--white);
}

.picture-input {
    display: none;
}
