.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-box > input {
    width: 100%;
    padding: 20px 20px 10px 10px;
    border: 1px solid var(--grey);
    background: var(--white-smoke);
    border-radius: 10px;
    color: var(--dark-black);
    font-size: 1.1em;
    font-weight: 400;
}

.input-box > span {
    position: absolute;
    left: 0;
    padding: 15px 0px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: var(--dark-black);
    transition: 0.1s;
}

.input-box > input:valid ~ span, 
.input-box > input:focus ~ span {
    color: var(--text-dark);
    font-size: 0.8em;
    padding: 3px 10px;
}