.projects-container {
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  padding: 10px;
}

.projects-container > .search-repository-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: var(--background-dark-secondary);
  border: 1px solid var(--border);
  color: var(--text-dark);
  font-size: .8em;
}

.projects-container > .project-card {
    border: 1px solid var(--border);
    width: 100%;
    display: flex;
    background: var(--background-dark);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 15px 5px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.projects-container > .project-card > .repository-name {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 20px;
}

.projects-container > .project-card > .repository-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects-container > .project-card > .repository-details > .status {
  display: flex;
}

.projects-container > .project-card > .repository-details > .status > .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: .9em;
}

.projects-container > .project-card > .repository-details > .languages {
  padding: 5px;
}

.projects-container > .project-card:hover {
  background: #1e1e1ed4;
}